<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Administation
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('portfolio-assets-admin') }}
		{% endblock %}
			<script src="https://kit.fontawesome.com/9a8d789322.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="{{path('browse')}}">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{path('admin_browse')}}">Accueil
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('academic_browse') }}">Formation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('experience_browse') }}">Expériences</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('project_browse') }}">Projets</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('stack_browse') }}">Technologies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Forum</a>
					</li>
				</ul>
				<div class="text-white" id="logged-user">
					{% if app.user %}
						{# Bouton de déconnexion avec nom d'utiliser#}
						{{ app.user.username}}
						(
						{% if is_granted('ROLE_ADMIN') %}
							Administrateur
						{% else %}
							Utilisateur
						{% endif %}
						)
						<a href="{{ logout_path() }}" class="btn btn-danger">Déconnexion</a>
					{% else %}
						{# Bouton de connexion #}
						Visiteur
						<a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
					{% endif %}
				</div>
			</div>
		</nav>
		{# display every flash message available #}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		<main class="py-5">
		{% block body %}{% endblock %}
		</main>

		{% block javascripts %}
		{% endblock %}
	</body>
</html>
