{% extends 'admin/base_admin.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="row py-5">
		<div class="col-3 ">
			<h2 class="text-success">Menu Admin</h2>
			<ul>
				<li class="text-white">
					<a class="text-white" href="{{ path('academic_browse') }}">Formation</a>
				</li>
				<li class="text-white">
					<a class="text-white" href="{{ path('experience_browse') }}">Expériences</a>
				</li>
				<li class="text-white">
					<a class="text-white" href="{{ path('project_browse') }}">Projets</a>
				</li>
				<li class="text-white">
					<a class="text-white" href="{{ path('stack_browse') }}">Technologies</a>
				</li>
				<li class="text-white">
					<a class="text-white" href="#">Forum</a>
				</li>
			</ul>
		</div>
		<div class="col-9 bg-warning text-center">
			<h2 class="">Tableau de bord</h2>
			<div class="row py-3 justify-content-around">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Formation</h5>
						<h6 class="card-subtitle mb-2 text-muted">Nombre de formations :</h6>
						<p class="h2 card-text">{{ academic|length }}</p>
						<a href="#" class="card-link">Voir</a>
						<a href="#" class="card-link">Ajouter</a>
					</div>
				</div>
                <div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Expérience professionnelle</h5>
						<h6 class="card-subtitle mb-2 text-muted">Nombre d'expériences :</h6>
						<p class="h2 card-text">{{ experiences|length }}</p>
						<a href="#" class="card-link">Voir</a>
						<a href="#" class="card-link">Ajouter</a>
					</div>
				</div>
			</div>
            <div class="row py-3 justify-content-around">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Projets</h5>
						<h6 class="card-subtitle mb-2 text-muted">Nombre de projets :</h6>
						<p class="h2 card-text">{{ projects|length }}</p>
						<a href="#" class="card-link">Voir</a>
						<a href="#" class="card-link">Ajouter</a>
					</div>
				</div>
                <div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Technologies utilisées</h5>
						<h6 class="card-subtitle mb-2 text-muted">Nombre de technologies :</h6>
						<p class="h2 card-text">{{ stack|length }}</p>
						<a href="#" class="card-link">Voir</a>
						<a href="#" class="card-link">Ajouter</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    

{% endblock %}
