{{ form_start(form) }}
<div class="row">
{{ form_errors(form) }}
</div>
<div class="row">
    <div class="col-md-4">
    {{ form_row(form.name) }}
    </div>    
    <div class="col-md-8">
    {{ form_row(form.link) }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {{ form_row(form.stack) }}
    </div>
    <div class="col-md-10">
        {{ form_row(form.description) }}
    </div>
</div>
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
