{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - profil {% endblock %}

{% block body %}
    <h1>Academic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Diploma_title</th>
                <th>Shcool</th>
                <th>StartedAt</th>
                <th>EndedAt</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for academic in academics %}
            <tr>
                <td>{{ academic.id }}</td>
                <td>{{ academic.diplomaTitle }}</td>
                <td>{{ academic.shcool }}</td>
                <td>{{ academic.startedAt ? academic.startedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ academic.endedAt ? academic.endedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ academic.description }}</td>
                <td>{{ academic.createdAt ? academic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ academic.updatedAt ? academic.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('academic_show', {'id': academic.id}) }}">show</a>
                    <a href="{{ path('academic_edit', {'id': academic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('academic_new') }}">Create new</a>
{% endblock %}
