{% extends 'base.html.twig' %}

{% block title %}Academic{% endblock %}

{% block body %}
    <h1>Academic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ academic.id }}</td>
            </tr>
            <tr>
                <th>Diploma_title</th>
                <td>{{ academic.diplomaTitle }}</td>
            </tr>
            <tr>
                <th>Shcool</th>
                <td>{{ academic.shcool }}</td>
            </tr>
            <tr>
                <th>StartedAt</th>
                <td>{{ academic.startedAt ? academic.startedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndedAt</th>
                <td>{{ academic.endedAt ? academic.endedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ academic.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ academic.createdAt ? academic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ academic.updatedAt ? academic.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('academic_index') }}">back to list</a>

    <a href="{{ path('academic_edit', {'id': academic.id}) }}">edit</a>

    {{ include('academic/_delete_form.html.twig') }}
{% endblock %}
