{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{parent()}} | Formation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <h1>Liste des formations effectuées :</h1>
            <div><a href="{{ path('academic_add') }}" class="btn btn-secondary">Ajouter</a></div>
            <table class="table table-dark">
                <thead class="text-warning">
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Ecole</th>
                    <th>Période</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                {% for formation in formations %}
                    <tr>
                    <th scope="row">{{ formation.id }}</th>
                    <td>{{ formation.getDiplomaTitle() }}</td>
                    <td>{{ formation.getschool() }}</td>
                    <td>De {{ formation.startedAt|date('M Y') }} à {{ formation.endedAt|date('M Y') }}
                    <td class="d-block">                    
                        <a class="btn btn-primary" href="{{ path('academic_edit', {id: formation.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <form action="{{ path('academic_delete', {id: formation.id}) }}" method="post" class="d-inline">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </td>
                    </tr>
                {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
