{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{parent()}} | Technologies{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <h1>Liste des technologies utilisées :</h1>
            <div><a href="{{ path('stack_add') }}" class="btn btn-secondary">Ajouter</a></div>
            <table class="table table-dark">
                <thead class="text-warning">
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Genre</th>
                    <th>Version</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                {% for technology in technologies %}
                    <tr>
                    <th scope="row">{{ technology.id }}</th>
                    <td>{{ technology.getName() }}</td>
                    <td>{{ technology.getGenre() }}</td>
                    <td>{{ technology.getVersion() }}</td>
                   <td class="d-block">                    
                        <a class="btn btn-primary" href="{{ path('stack_edit', {id: technology.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <form action="{{ path('stack_delete', {id: technology.id}) }}" method="post" class="d-inline">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </td>
                    </tr>
                {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
